// app global css in SCSS form

.items-scroll-area {
  height: 200px;
}

.my-card {
  width: 250px;
  height: 155px;
  border-radius: 5px;
}

.my-card .my-card-title {
  display: flex;
  height: 20px;
}

.my-card .my-card-main {
  background-color: lightsteelblue;
  height: 125px;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
}
